@import "../color";

.badge {
    margin: 10px;
    padding: 10px;

    border: 2px solid $border-box;
    border-radius: 20px;

    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;
}

.badgeIcon {
    flex-grow: 0;
    font-size: 72px;
    margin-right: 15px !important;
    color: #000000;
    align-self: center;
}

.badges {
    margin: 10px -10px;

    display: flex;
    flex-wrap: wrap;
}

.badge * {
    padding: 0;
    margin: 0;
    text-decoration: none;
}