// MAIN CONTENT
$background-color: #F8F1FF;

$heading-text-color: #000000;
$text-color: #525252;
$emphasis-text-color: #1BB3FF;

$accent-color: #FFDA00;

$code: #00FF00;
$link: #1BB3FF;
$blockquote: #FFFFFF;

// NAVBAR
$navbar-background: #FF1B8D;
$navbar-text-primary: #000000;
$navbar-text-secondary: #FFFFFF;

// FOOTER
$footer-background: #1BB3FF;
$footer-text: #000000;

// TILES
$tile-text: #FFFFFF;
$tile-text-background: rgba(0, 0, 0, 0.7);

// MISC ELEMENTS

$border-box: #FF1B8D;
$button: #1BB3FF;
$heading-border: #1BB3FF;
