@import "../color";

.navbarOuter {
    background-color: $navbar-background;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbarInner {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.navbarToggle {
    background: none;
    border: none;
    padding: 0;
    color: black;
    float: right;
    font-size: 30px;
}

.navbarLinks {
    display: flex;
    flex-direction: column;

    // Used for collapsing transition
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.navbarLinks.collapsed {
    max-height: 0;
}

.navbarBrand {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.navbarBrandLink, .navbarBrandLink:hover, .navbarBrandLink:visited {
    color: black;
    text-decoration: none;
}

.navbarLink {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.navbarLink {
    margin: 10px 50px;
}

.navbarIcon {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navbarInner {
        flex-direction: row;
        padding-bottom: 0;
    }

    .navbarToggle {
        display: none;
    }

    .navbarLinks {
        max-height: none;
        flex-direction: row;
    }

    .navbarLinks.collapsed {
        max-height: none;
    }

    .navbarLink {
        margin: auto 10px;
    }

    .navbarIcon {
        display: none;
    }
}

.navbarLink:hover {
    color: white;
}
